# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/board/node_modules

# next.js
/board/.next/
/board/out/

# production
/board/build

# debug
/board/npm-debug.log*
/board/yarn-debug.log*
/board/yarn-error.log*

# local env files
/board/.env.local
/board/.env.development.local
/board/.env.test.local
/board/.env.production.local

# vercel
/board/.vercel
