# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/project-board/node_modules

# next.js
/project-board/.next/
/project-board/out/

# production
/project-board/build

# debug
/project-board/npm-debug.log*
/project-board/yarn-debug.log*
/project-board/yarn-error.log*

# local env files
/project-board/.env.local
/project-board/.env.development.local
/project-board/.env.test.local
/project-board/.env.production.local

# vercel
/project-board/.vercel
